#body {
	display: flex;
	justify-content: center;
	background: url(./background.jpg);
	background-repeat: no-repeat;
	font-family: 'Indie Flower', cursive;

}
#header { 
	width: 300px; 
	height: 100px;
	margin: 40px;
	background-color: #FFB5C5;
    text-align: center;
    
    border-radius: 164px;
}

.boxtwo {

}


#main{

	
}

.boxone {
	width: 400px;
	background-color: #FFB6C1;

}

.paragraph {
	font-size: 25px;
	color: #751950;
		text-align: center;


}

h1 {
	color: #751950;
	font-size: 50px;
	width: 300px;
	height: 200px;

}

.img { 

	


}

.photo {
	width: 300px;
	height: 300px;
	border-style: groove;
	border-color: #ce819b;
	text-align: center;
	    margin: 12%;

}

.insta {
	width: 30px;
    height: 30px; }

.git {
	width: 30px;
    height: 30px;
}

.face {
	width: 30px;
    height: 30px;

}
	    

#pe {
	  margin-top: 570px;
    
}

